body{
    background-color: black;
}
#game{
width: 400px;
height: 400px;
background-color: darkkhaki;
margin-right: auto;
margin-left: auto;
margin-top: 50px;
display: flex;
flex-wrap: wrap;
cursor: url('../img/pngegg.png'), pointer;
}
.cell{
    width: 96px;
    height: 96px;
    border: 2px solid red ;
}
.goblin {
    display: block;
    width: 96px;
    height: 96px;
    background-image: url("../img/goblin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96px;    
}
#check{
    width: 400px;
    height: 100px;
    background-color: darkseagreen;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    font-size: 80px;
    text-align: center;
    display: flex;
}
.win{
    width: 200px;
    color: greenyellow;
    margin-left: 0;
}
.lose{
    width: 200px;
    color: red;
    margin-right: 0;
}